<div ng-keydown="navigate($event)">
    <input class="above-table" ng-model="selectedCell.row[getKey(selectedCell.title)]">
    <table>
        <th>
            <td></td>
            <td class="title" ng-repeat="title in sheet.columnTitles">{{ title }}</td>
            <td><span ng-click="addColumn()">+</span><input type="text" ng-model="newColumnTitle" placeholder="Add Column"></td>
        </th>
        <tr ng-class="{'row-select': row === selectedRow}" ng-repeat="row in sheet.rows">
            <td class="delete" ng-click="deleteRow($index)">x</td>
            <td ng-click="selectRow(row)" class="idx">{{ $index + 1 }}</td>
            <td ng-repeat="title in sheet.columnTitles">
                <input id="{{ $parent.$index + 1 }}-{{ getKey(title) }}" ng-class="{selected: selectedCell.row === row && selectedCell.title === title}" ng-model="row[getKey(title)]" ng-change="updateRows()" ng-click="select(row, title)">
            </td>
        </tr>
    </table>
    <button class="btn btn-primary" ng-click="addRow()">Add Row</button>
</div>
